input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  position: center;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* .container {
  padding: 16px;
} */

span.psw {
  float: right;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

/* new css */
.mainBody {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.customheight {
  height: auto !important;
}

.container {
  width: 100%;
  max-width: 650px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 2% 10%;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-submit {
  padding: 10px;
  background-color: #04aa6d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn-danger {
  padding: 10px;
  background-color: #df0909;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-submit:hover,
.btn-danger:hover {
  opacity: 0.8;
}

.remember-me {
  margin-top: 10px;
}

.message {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}
